{% extends 'appSitio/base.html' %}

{% block contenido %}

<h1>Acerda de mi:</h1>

<p>Mi nombre es Marcos Agustín Reyeros tengo 24 años, soy estudiante avanzado de ING en Electronica/Computación y este es mi Proyecto Final.
    Hice este curso con el fin de entender mas de programación, ya que solo se programar microcontroladores en lenguage 
    ensamblador("Assembly"), C++ y Java. Pero nunca habia visto python ni programado para desarrollar paginas web, me llamo 
    mucho la atención el microcontrolado raspberry pi pico que se programa en microPython, por eso tambien mi interes por el curso.
</p>

<p>Me motive a hacer esta pagina ya que en unos meses voy a ser padre y al ver a mi esposa viendo todo lo relacionado me 
    motivo la tematica.
</p>

<p>Espero haber cumplido en parte las expectativas del proyecto final, ya que no tuve mucho tiempo por los examenes de la universidad.</p>

<p>Un gusto haber podido aprender del profesor del curso Leonel Gareis que le pone mucha onda , es excelente dando clases
    y tiene buenas recomendaciones para poder seguir motivados a programar. 
</p>

{% endblock %}