{% extends 'appSitio/base.html' %}


{% block contenido %}
<h1>ESTAS EN EL APARTADO MADRE</h1>
{% if MADRE %}
    
    {% if request.user.is_authenticated %}
    <ul>
        {% for madre in MADRE %}

        <li> {{ madre.nombre }} 
            <a href="{% url 'detalle-madre' madre.id %}">Detalle</a>
            <a href="{% url 'delete-madre' madre.id %}">Borrar</a>
            <a href="{% url 'update-madre' madre.id %}">Actualizar</a>
        
        </li>

    {% endfor %}
    </ul>
    {% endif %}
{% endif %}
<p>CARGA TUS DATOS PARA RECORDAR</p>
<a href="{% url 'crear-madre' %}"> CARGAR</a>
{% endblock %}